body{
    font-family: 'Raleway', sans-serif;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

i{
    font-weight:900;
}

/*Nav*/
a{
    color: #2c363f;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-link{
    font-size:1.1rem;
}

.hero-content{
    margin-top: 4rem;
}

.hero-content h4{
    font-weight: 700;
    font-size:3.5rem;
}

.hero-content{
    font-weight: 500;
}

/*hero*/

#hero{
    background-image: url('./img/hero-img.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30rem;
}



/*About*/
#about{
    background-image: url('./img/about-img.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30rem;
}

.section-heading{
    font-weight: 500;
    font-size:3rem;
}

.btn-main{
    background-color: #2c363F;
    color:white;
    font-size:1.3rem;
}

.services{
    border-radius:1rem
}

.services i{
    font-size: 2rem;
}


/*Contact Us*/
#contact{
    background: rgba(255,255,255,0);
}
textarea, input{
    padding: 1rem 0.4rem;
    font-size: 1.3rem;
    width: 100%;
}
footer{
    background-image: url('./img/footer-img.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30rem auto;


}
